/* general rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol, li, menu {
    list-style: none;
}

/* .container {
    max-width: 900px;
    margin: 0 auto;
} */

.row {
    display: flex;
    justify-content: center;
}

/* end general rules */

/* start debug rules */
.debug .app-view,
.debug .header,
.debug .main-content {
    padding: 20px;
    border: 2px dashed cornflowerblue;
}

/* .debug .app-view {
    max-width: 100vh;
    margin: 0 auto;
} */

.debug .header {
    height: 20vh;
    overflow: hidden;
}

.debug .main-content {
    height: 80vh;
    overflow: hidden;
}


.debug .row {
    padding: 20px;
    border: 2px dashed red;
}

.debug .col {
    padding: 20px;
    border: 2px dashed green;
}
/* end debug rules */

/* main-content rules */
.app-view {
    height: 100vh;
    display: flex;
}

.main-content {
    flex-grow: 1;
    /* dare la dimensione in vh al body, flex-grow 1 al content
    e l'altezza fissa alla sidebar permette una migliore 
    gestion del mobile */
    overflow: hidden;
    background-color: black;
    color: white;
}

.main-content .row {
    flex-wrap: wrap;
}

/* .main-content .row > .col {
    flex-basis: calc(100% * (1 / 3));
} */

.card {
    position: relative;
    max-width: 200px;
}

.card-status {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-status > * {
    padding: 5px;
    background-color: grey;
}

/* end main-content rules */


/* start header */
.header {
    overflow: hidden;
    background-color: #222;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header .row {
    justify-content: space-between;
}

.header .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.button > * {
    padding: 5px;
}

.end-meet {
    background-color: #4a4a4a;
    color: red;
    text-align: center;
}


/* end header */